.BalanceItemRow {
  .MuiTypography-root {
    color: #292929;
    font-family: Roboto Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 167.885%;
  }

  .BalanceItemRow-cardInfo {
    text-align: left;
  }

  .BalanceItemRow-balanceInfo {
    text-align: right;
  }
}


li.MuiListItem-root {
  padding-left: 0px;
  padding-right:30px;
}

